<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489588117137-if8p81f20eecog2110t9jlh7ahqipui5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489588117137-if8p81f20eecog2110t9jlh7ahqipui5</string>
	<key>API_KEY</key>
	<string>AIzaSyAJxf2_rwFGPZ22U7qkwJeAFGeU9dTGkYs</string>
	<key>GCM_SENDER_ID</key>
	<string>489588117137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bebee.akosavolam</string>
	<key>PROJECT_ID</key>
	<string>what-is-my-name-4c6fe</string>
	<key>STORAGE_BUCKET</key>
	<string>what-is-my-name-4c6fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489588117137:ios:9f395f12d38ce76098b930</string>
	<key>DATABASE_URL</key>
	<string>https://what-is-my-name-4c6fe.firebaseio.com</string>
</dict>
</plist>